@import "../../configuration/variables.scss";
#publicTemplate {
	width: 100%;
	flex-direction: row;
	display: flex;
	height: 100%;
	#left {
		width: 40%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#right {
		align-self: center;
		height: 100%;
		width: 60%;
	}
}

@media only screen and (max-width: $mobileWidth) {
	#left {
		display: none;
	}
	#right {
		width: 100% !important;
	}
}
