@import './variables.scss';


#root{
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}

body, html{
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}

.MuiTextField-root{
    margin: 10px !important;
}


/*.MuiFab-root{
    position: fixed  !important;
    bottom:0 !important;
    right: 0 !important;
    margin: 30px !important;
}*/

.circularProgressLoader{
    position: fixed;
    z-index: 99;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.MuiCircularProgress-colorPrimary{
    color: $primaryColor !important;
}


.main-theme{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.main-content{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.contentHeight{
    height: 100%;
    margin: 0 $standardMargin;
    margin-top: $standardMargin/2;
    margin-bottom: 40px;
}

.MuiCard-root {
    border-radius: 10px !important;
}

button{
    outline: 0px !important;  //disables Tailwind outline
}

.MuiMenu-paper{
    @include greyBorder;
}


@media only screen and (max-width: $mobileWidth)  {

    .contentHeight{
        margin: 0 $standardMargin;
        justify-content: center;
        display: flex;
    }

    header{
        margin-top:10px
    }
}