#termsOfService {
  display: flex;
  justify-content: center;
  margin: 30px 20px 0px 20px;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
