@import '../../configuration/variables.scss';

.singleInfo{
    display: flex;
    align-items: baseline;
}

/*.MuiInputBase-root{
    min-width: 200px !important;
}*/

.MuiTypography-h6{
    font-weight: normal !important;
}


.personalInformation-row .MuiTextField-root{
    width: 100%;
}

/*#personalInformation, #language, #changePassword, #subscription{
    margin: 10px;
}*/

.justify{
    justify-content: center;
}
#paymentMethod{
    width: 100%;
    margin:10px;

    .MuiFormControl-root.MuiTextField-root{
        width: -webkit-fill-available;
    }
}
.rightBoxes, #profileBox{
    margin: 10px;
}
#profileBox{
    width:50%;
}
#changePassword{
    margin-right: 10px;
}
#subscriptionBox{
    margin-top:10px;
}

#CPLBox{
    margin-bottom: 10px ;
}
#language{
    margin-left: 10px;
}
#changePasswordBox, #languageBox{
    height: 100%;
}
#language, #changePassword, #personalInformation{
    height: 100%;
}
#subscriptionBox{
   // height: 100%;
}
#subscription{
    height: 100%;
}

#successIcon{
    color: $successColor;
}
#successChip{
    border: 1px solid $successColor;
    //background-color: $successColor;
    //color: white;
}

#pendingIcon{
    color: $warningColor;
}
#pendingChip{
    border: 1px solid $warningColor;

}
#errorIcon{
    color: $errorColor;
}
#errorChip{
    border: 1px solid $errorColor;

}
@media only screen and (max-width: $mobileWidth)  {
    .rightBoxes, #profileBox, #changePassword{
        margin: 0px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    #changePassword{
        margin-top: 0px!important;
    }
    #language, #subscription{
        margin-top:10px !important;
        margin-bottom:10px !important;
    }
    .topBox{
        flex-direction: column !important;
        width: 100% !important;
    }
    .personalInformation-row{
        flex-direction: column !important;
        .MuiTextField-root{
            width: unset;
        }
    }
    #changePasswordBox{
        margin-bottom: 10px;
    }
    #paymentMethod{
        margin-left: 0px;
        margin-right: 0px;
    }
    .paymentMethodBox{
        width: 100% !important;
        margin-top:10px;
        margin-bottom: 10px;

        .paymentRow{
            flex-direction: column !important;
        }
    }
    #profileBox{
        width: 100% !important;    
    }

    #personalInformation, #changePassword, #languageBox, {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .rightBoxes{
        width: 100% !important;
        
    }
    .CPLBox{
        flex-direction: column !important;
    }

    #language{
        margin-left: 0px;
    }


}