#activation {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	#activationForm {
		display: flex;
		flex-direction: column;
	}
	#auxiliaryLinks {
		text-align: center;
	}
}
